@{
    ViewData["Title"] = "Client Details";
}
@model ClientsVM
<div class="section row">
    <div class="col s12">
        <h4 class="center-align">Client Details</h4>
        <div class="divider"></div>
        <ul class="tabs">
            <li class="tab col s6"><a class="active" href="#general">General</a></li>
            <li class="tab col s6"><a href="#contacts">Contacts</a></li>
        </ul>
    </div>
    <div id="general" class="s12">
        <h4>Name: @Model.Client.Name</h4>
        <h4>Client Code: @Model.Client.ClientCode</h4>
    </div>
    <div id="contacts" class="s12">
        @if (Model.LinkedContacts.Count > 0)
        {
            <div class="col s12" id="tableDiv">
                <div class="row">
                    <div class="col s12">
                        <table class="highlight">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Email Address</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tableInfo">
                                @foreach (ContactModel contact in Model.LinkedContacts)
                                {
                                    <tr>
                                        <td>@contact.ToString()</td>
                                        <td>@contact.Email</td>
                                        <td>
                                            <a class="tooltipped" onclick="unlinkContact(@Model.Client.Id,@contact.Id)"
                                               data-position="top" data-tooltip="Unlink contact from client">
                                                <i class="material-icons icon-red">
                                                    link_off
                                                </i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        }
        else
        {
            <div class="col s12 m12 l12" id="noItemDiv">
                <div class="card-panel grey center-align">
                    <span class="white-text">
                        No contact(s) found.
                    </span>
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="input-field col s12 center-align ">
        <a asp-action="Index" asp-controller="Client" class="btn waves-effect waves-light btn-large blue lighten-1">
            <span class="material-icons md-dark md-24 matIcon">
                keyboard_return
            </span>
            <span class="black-text">Back</span>
        </a>
    </div>
</div>
<div id="linkModal" class="modal">
    <div class="modal-content">
        <h4 class="center-align">Link Contact</h4>
        <form id="linkForm">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s8 offset-s2">
                            <p>Select Contact</p>
                            <select id="contactSelect" class="active" multiple="multiple">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect red btn-flat">Cancel</a>
        <a onclick="linkContact(@Model.Client.Id)" class="waves-effect green btn-flat">Submit</a>
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large green tooltipped" onclick="loadLinkContactModal(@Model.Client.Id)" data-position="left" data-tooltip="Link Contact to Client">
        <i class="large material-icons">link</i>
    </a>
</div>
@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready(function () {
            
        });
    </script>

}