@model ClientsVM
@{
    ViewData["Title"] = "Clients";

}
<div class="row z-depth-2">
    <h4 class="center-align">Clients</h4>
    <div class="divider"></div>
    @if (Model.Clients.Count > 0)
    {
        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Client Code</th>
                                <th>No. of linked contacts</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ClientModel client in Model.Clients)
                            {
                                <tr>
                                    <td>@client.Name</td>
                                    <td>@client.ClientCode</td>
                                    <td>@client.LinkedContactsCount</td>
                                    <td>
                                        <a class="tooltipped" onclick="DeleteClient(@client.Id)"
                                           data-position="top" data-tooltip="Delete Client">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col s12 m12 l12">
            <div class="card-panel green center-align">
                <span class="white-text">
                    No client(s) found.
                </span>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="input-field col s12 center-align ">
        <a asp-action="Index" asp-controller="Home" class="btn waves-effect waves-light btn-large blue lighten-1">
            <span class="material-icons md-dark md-24">
                keyboard_return
            </span>
            <span class="black-text">Back</span>
        </a>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large green tooltipped modal-trigger" href="#addModal" data-position="left" data-tooltip="Add Client">
        <i class="large material-icons">add</i>
    </a>
</div>


<!-- Add Modal -->
<div id="addModal" class="modal">
    <div class="modal-content">
        <h4>Add Client</h4>
        <form>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s8 offset-s2">
                            @Html.LabelFor(model => model.Client.Name)
                            <input id="contactName" type="text" class="validate center-align" asp-for="@Model.Client.Name" />
                            <span asp-validation-for="@Model.Client.Name" class="red-text text-darken-2" />
                        </div>
                    </div>
                </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancel</a>
        <a id="submitClientBtn" class="waves-effect waves-green btn-flat">Submit</a>
    </div>
</div>

@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

}